<ul>
<% @items.each do |item| %>
  <li>
    <div>
      <strong>Name</strong>: <%= item.name %>
    </div>
    <div>
      <strong>Category</strong>: <%= item.category %>
    </div>
    <div>
      <strong>Price</strong>: <%= number_to_currency(item.price_in_cents / 100) %>
    </div>
  </li>
<% end %>
</ul>
